.main__lists{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.main__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
}

.list__item {
    padding: 6px;
    margin: 3px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(119, 119, 119);
    transition: 0.07s;
}
.list__item:hover {
    background-color: rgb(88, 52, 52);
    border: 1px solid black;
    transition: 0.07s;
}